{% extends 'layout/inner.html' %}
{% block title %} {{ pageTitle }} {% endblock %}
{% load static   %}
{% block content %}


<form class="content-page add-form" action="{% url 'create-class-template' %}" method="POST" >
    {% csrf_token %}
    {% include 'forms/form_errors.html' %}
    {{form.user_id}}

    <div class="page-head-one">
        <h2>Create Class Template</h2>
        <div class="btn-btm-group top-page-btn">
            <button class="border-btn">Discard changes</button> <button class="btn-pink ml-10">Save changes</button>
        </div>
    </div>
    <div class="form-page">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Select New/Existing Class Template</label>
                    <div class="drop-down">
                        {{form.class_template}}
                        {{form.class_template.errors}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Class Type</label>
                    <div class="drop-down">
                        <select>
                            <option>One</option>
                            <option>Two</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Language[*]</label>
                    <div class="drop-down">
                        {{form.language}}
                        {{form.language.errors}}
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Subscriber Limit</label>
                    <div class="form-field-input">
                        {{form.subscriber_limit}}
                        {{form.subscriber_limit.errors}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Class Template Name[*]</label>
                    <div class="form-field-input">
                        {{form.name}}
                        {{form.name.errors}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Price[*]</label>
                    <div class="flex-input">
                        <div class="drop-down">
                            {{form.currency}}
                            {{form.currency.errors}}
                        </div>
                        <div class="form-field-input">
                            {{form.price}}
                            {{form.price.errors}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Duration (in minutes)[*]</label>
                    <div class="form-field-input">
                        {{form.duration}}
                        {{form.duration.errors}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Intensity</label>
                    <div class="drop-down">
                        {{form.intensity}}
                        {{form.intensity.errors}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-pd">
        <div class="col-sm-6">
            <div class="content-block-one p-0">
                <h4 class="profile-setup-inner-block-heading">Upload Image</h4>
                <div class="form-group form-field-main file-container">
                    <div class="form-field-video ">
                        <div class="video-uploadbox">
                            <div class="custom-file">
                                <input type="file" accept="image/png,image/jpeg,image/*" data-action="{% url 'upload-new-video' %}" data-content-type="image" data-content="Profile Image" class="file-upload custom-file-input">
                                <label class="custom-file-label placeholder text-truncate">Profile image</label>
                            </div>
                        </div>
                        <div class="upload-box" data-toggle="modal" data-target="#imageModalCenter">
                            <img src="{% static 'images/no-image.svg' %}">
                        </div>
                    </div>
                    <input type="text" class="opacity-0 file-field" required name="profile_image_file" >
                    <span class="pl-2 text-muted file_name"></span>
                </div>
                <div class="form-group form-field-main file-container">
                    <div class="form-field-video ">
                        <div class="video-uploadbox">
                            <div class="custom-file">
                                <input type="file" accept="image/png,image/jpeg,image/*" data-action="{% url 'upload-new-video' %}" data-content-type="image" data-content="Tile Image" class="file-upload custom-file-input">
                                <label class="custom-file-label placeholder text-truncate">Tile Image</label>
                            </div>
                        </div>
                        <div class="upload-box" data-toggle="modal" data-target="#imageModalCenter">
                            <img src="{% static 'images/no-image.svg' %}">
                        </div>
                    </div>
                    <input type="text" class="opacity-0 file-field" required name="tile_image_file" >
                    <span class="pl-2 text-muted file_name"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="content-block-one p-0">
                <h4 class="profile-setup-inner-block-heading">Upload Video</h4>
                <div class="form-group form-field-main file-container">
                    <div class="form-field-video">
                        <div class="video-uploadbox">
                            <div class="custom-file">
                                <input type="file" accept="video/mp4,video/x-m4v,video/mov,video/avi,video/*" data-duration="true" data-content-type="video" data-action="{% url 'upload-new-video' %}" data-content="Video" class="file-upload custom-file-input">
                                <label class="custom-file-label placeholder text-truncate">Upload Video</label>
                            </div>
                        </div>
                        <div class="upload-box" data-toggle="modal" data-target="#imageModalCenter">
                            <img src="{% static 'images/videoPreview.png' %}">
                        </div>
                    </div>
                    <!--<input type="text" class="opacity-0 file-field" required name="upload_video_file" >-->
                    <span class="pl-2 text-muted file_name"></span>
                </div>
                <div class="form-group form-field-main file-container">
                    <div class="form-field-video">
                        <div class="video-uploadbox">
                            <div class="custom-file">
                                <input type="file" accept="video/mp4,video/x-m4v,video/mov,video/avi,video/*" data-content-type="video" data-action="{% url 'upload-new-video' %}" data-content="Video Teaser" class="file-upload custom-file-input">
                                <label class="custom-file-label placeholder text-truncate">Video Teaser</label>
                            </div>
                        </div>
                        <div class="upload-box" data-toggle="modal" data-target="#imageModalCenter">
                            <img src="{% static 'images/videoPreview.png' %}">
                        </div>
                    </div>
                    <!--<input type="text" class="opacity-0 file-field" required name="video_teaser_file" >-->
                    <span class="pl-2 text-muted file_name"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-pd">
        <div class="col-sm-6">
            <div class="thumb-6">
                <div class="form-group form-field-main">
                    <label class="label-field">Skill Level</label>
                    <div class="drop-down drop-after">
                        {{form.skill_level}}
                        {{form.skill_level.errors}}
                    </div>
                </div>
                <div class="form-group form-field-main">
                    <label class="label-field">Equipment Required</label>
                    <div class="drop-down drop-after">
                        {{form.required_equipments}}
                        {{form.required_equipments.errors}}
                    </div>
                </div>
                <div class="form-group form-field-main">
                    <label class="label-field">Body Focus</label>
                    <div class="drop-down drop-after">
                        {{form.body_focus}}
                        {{form.body_focus.errors}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumb-6">
                <div class="form-group form-field-main">
                    <label class="label-field">About the class</label>
                    <div class="form-field-input textarea-dif-size">
                        {{form.about_class}}
                        {{form.about_class.errors}}
                        <small>0 of 150 words</small>
                    </div>
                </div>
                <div class="form-group form-field-main">
                    <label class="label-field">Additional Info</label>
                    <div class="form-field-input textarea-dif-size">
                        {{form.additional_info}}
                        {{form.additional_info.errors}}
                        <small>0 of 150 words</small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


<script>
    function getTemplateData(id) {
        var token = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            type: 'POST',
            url: 'getTemplateData',
            data: {'id': id, csrfmiddlewaretoken: token},
            beforeSend: function () {
                $('#payloader').show();
            },
            success: function (response) {
                $('#payloader').hide();
                $('#table_request').html(response);
            },
            error: function (response) {
                $('#payloader').hide();
            }
        })
    }
</script>

<div class="loader" id="payloader" style=""><img src="{% static 'images/loading.gif' %}" alt=""></div>

{% include "layout/successerror.html" %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>
<script src="{% static 'js/image_uploader.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.14/js/bootstrap-multiselect.min.js"></script>
{% include "plugins.html" %}
<script src="{% static 'js/custom.js' %}"></script>
{% comment %} Extra plugins {% endcomment %}
<script type="text/javascript">
    $(window).on('load', function () {
        $('#payloader').hide();
    })

    $(document).ready(function () {
        $(".add-form").validate({
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
{% endblock content %}